html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  padding: 10% 32px 128px 32px;
  overflow: show;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: #13202b;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  color: #f5f5f5;
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #62a6ff;
}

.logo {
  font-family: "Righteous", sans-serif;
  color: #00b359;
  font-size: 96px;
  font-size: 6rem;
  display: block;
  text-align: center;
  transition: .25s ease;
}

.logo .fa-music {
  display: block;
  font-size: 64px;
  font-size: 4rem;
}

.logo-anim-appear {
  transform: translate(0, -100px);
  opacity: 0.01;
}

.logo-appear.logo-anim-appear-active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 1s ease;
}

.input-anim-appear {
  transform: translate(0, 100px);
  opacity: 0.01;
}

.input-anim-appear.input-anim-appear-active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 1s ease;
}

.input-form {
  max-width: 900px;
  margin: 32px auto 0px auto;
  text-align: center;
  display: flex;
  transition: .25s ease;
  justify-content: center;
  align-items: center;
}

.input-wrapper {
  width: 75%;
  display: inline-block;
  position: relative;
}

.input {
  width: 100%;
  background: #13202b;
  padding: 6px 6px 6px 42px;
  border: unset;
  border-bottom: 2px solid #8d8d8d;
  font-family: "Lato", sans-serif;
  font-size: 28px;
  font-size: 1.75rem;
  color: #f5f5f5;
  outline: none;
  transition: .2s ease-in-out;
}

.input:focus {
  border-color: #62a6ff;
}

.input:focus ~ .placeholder {
  color: #62a6ff;
}

.placeholder {
  position: absolute;
  top: 6px;
  left: 2px;
  font-size: 28px;
  font-size: 1.75rem;
  color: #8d8d8d;
  transition: .2s ease-in-out;
}

.input-btn-wrapper {
  background: transparent;
  width: 64px;
  height: 64px;
  border: 4px solid #8d8d8d;
  margin-left: 16px;
  color: #8d8d8d;
  font-size: 36px;
  font-size: 2.25rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  position: relative;
  outline: none;
  overflow: hidden;
  transition: .2s ease;
}

.input-btn-wrapper:hover {
  border-color: #62a6ff;
}

.input-btn-wrapper:active {
  border-color: #00b359;
}

.input-btn {
  transition: .2s ease-in-out;
  background: transparent;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.search-entry-list {
  margin: 0 auto;
  width: 100%;
  position: absolute;
  top: 54px;
  left: 0;
}

.search-entry {
  display: block;
  text-align: left;
  background: #13202b;
  margin-bottom: 6px;
}

.search-btn {
  width: 100%;
  height: 100%;
  background: #1b2d3d;
  margin: 0;
  padding: 0;
  outline: none;
  border: 4px solid #1b2d3d;
  transition: all .25s ease;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.search-btn:hover {
  border-bottom: 4px solid #62a6ff;
}

.song-description {
  margin-left: 16px;
  text-align: left;
}

.song-img {
  width: 64px;
  height: 64px;
}

.song-title {
  font-weight: 700;
  color: #00b359;
}

.song-album {
  font-weight: 300;
  color: #62a6ff;
}

.song-artist {
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  color: #f5f5f5;
}

.spotify-btn {
  position: relative;
  z-index: 0;
}

.gif-player {
  margin: 0 auto;
  max-width: 500px;
  background-color: #00b359;
  text-align: center;
  padding: 8px;
  border-radius: 16px;
}

.gif-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 16px;
}

.gif-wrapper img {
  object-fit: cover;
  min-width: 100%;
  height: 100%;
}

.gifplayer-anim-appear {
  transform: translate(0, 100px);
  opacity: 0.01;
}

.gifplayer-anim-appear.gifplayer-anim-appear-active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 1s ease;
}

.gifplayer-anim-enter {
  transform: translate(0, 100px);
  opacity: 0.01;
}

.gifplayer-anim-enter-.gifplayer-anim-enter-active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 1s ease;
}

.gifplayer-anim-leave {
  transform: translate(0, 0);
  opacity: 1;
}

.gifplayer-anim-leave-.gifplayer-anim-leave-active {
  transform: translate(0, 100px);
  opacity: 0.01;
  transition: all 1s ease;
}
