// MIXINS AND FUNCTIONS ========================================================
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin box($width, $height) {
  width: $width;
  height: $height;
}

@mixin shadow($level: 1) {
  @if $level == 1 {-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);} 
  @else if $level == 2 {-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
  @else if $level == 3 {-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}
  @else if $level == 4 {-webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
  @else if $level == 5 {-webkit-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);}
}

// Breakpoints
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

// COLOR =======================================================================
$base: #00b359;
$accent: #62a6ff;
$darkGrey: #13202b;
$lightGrey: #8d8d8d;
$white: #f5f5f5;

// FONT ========================================================================
$logo: 'Righteous', sans-serif;
$header: 'Lato', sans-serif;
$body: 'Lato', sans-serif;

// SETUP =======================================================================
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  padding: 10% 32px 128px 32px;
  overflow: show;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

// DEFAULTS ===================================================================
html {
  font-size: 16px;

}
body {
  background-color: $darkGrey;
  font-family: $body;
  @include font-size(16px);
  color: $white;
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  font-family: $header;
  font-weight: 300;
  color: $accent;
}

// Logo ========================================================================
.logo {
  font-family: $logo;
  color: $base;
  @include font-size (96px);
  display: block;
  text-align: center;
  transition: .25s ease;
  .fa-music {
    display: block;
    @include font-size (64px);
  } 
  a {
    text-decoration: none;
    color: $base;
  }
}


.logo-anim-appear {
  transform: translate(0, -100px);
  opacity: 0.01;
}

.logo-appear.logo-anim-appear-active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 1s ease;
}

// Input form ==================================================================
.input-anim-appear {
  transform: translate(0, 100px);
  opacity: 0.01;
}

.input-anim-appear.input-anim-appear-active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 1s ease;
}

.input-form {
  max-width: 900px;
  margin: 32px auto 0px auto;
  text-align: center;
  display: flex;
  transition: .25s ease;
  justify-content: center;
  align-items: center;
}

.input-wrapper {
  width: 75%;
  display: inline-block;
  position: relative;
}

.input {
  width: 100%;
  background: $darkGrey;
  padding: 6px 6px 6px 42px;
  border: unset;
  border-bottom: 2px solid $lightGrey;
  font-family: $body;
  @include font-size (28px);
  color: $white;
  outline: none;
  transition: .2s ease-in-out;
  &:focus {
    border-color: $accent;
  }
}
.input:focus ~ .placeholder {
  color: $accent;
}

.placeholder {
  position: absolute;
  top: 6px;
  left: 2px;
  @include font-size (28px);
  color: $lightGrey;
  transition: .2s ease-in-out;
}

.input-btn-wrapper {
  background: rgba(0,0,0,0);
  width: 64px;
  height: 64px;
  border: 4px solid $lightGrey;
  margin-left: 16px;
  color: $lightGrey;
  @include font-size (36px);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  position: relative;
  outline: none;
  overflow: hidden;
  transition: .2s ease;
  &:hover {
    border-color: $accent;
  }
  &:active {
    border-color: $base;
  }
}

.input-btn {
  transition: .2s ease-in-out;
  background: rgba(0,0,0,0);
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.search-entry-list {
  margin: 0 auto;
  width: 100%;
  position: absolute;
  top: 54px;
  left: 0;
}

.search-entry {
  display: block;
  text-align: left;
  background: $darkGrey;
  margin-bottom: 6px;
}
.search-btn {
  width: 100%;
  height: 100%;
  background: lighten($darkGrey, 5);
  margin: 0;
  padding: 0;
  outline:none;
  border: 4px solid lighten($darkGrey, 5);
  transition: all .25s ease;
  &:hover {
    border-bottom: 4px solid $accent;
  }
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.song-description {
  margin-left: 16px;
  text-align: left;

}
.song-img {
  width: 64px;
  height: 64px;
}

.song-title {
  font-weight: 700;
  color: $base;
}

.song-album {
  font-weight: 300;
  color: $accent;
}

.song-artist {
  font-weight: 400;
  @include font-size(18px);
  color: $white;
}

.spotify-btn {
  position: relative;
  z-index: 0;
  // top: 0;
  // left: 0;
}

.gif-player {
  margin: 0 auto;
  max-width: 500px;
  background-color: $base;
  text-align: center;
  padding: 8px;
  border-radius: 16px;
}
.gif-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 16px;
  img {
    object-fit: cover;
    min-width: 100%;
    height: 100%;
  }
}

.gifplayer-anim-appear {
  transform: translate(0, 100px);
  opacity: 0.01;
}

.gifplayer-anim-appear.gifplayer-anim-appear-active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 1s ease;
}

.gifplayer-anim-enter {
  transform: translate(0, 100px);
  opacity: 0.01;
}

.gifplayer-anim-enter-.gifplayer-anim-enter-active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 1s ease;
}

.gifplayer-anim-leave {
  transform: translate(0, 0);
  opacity: 1;
}

.gifplayer-anim-leave-.gifplayer-anim-leave-active {
  transform: translate(0, 100px);
  opacity: 0.01;
  transition: all 1s ease;
}